*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
overflow: hidden;
background: #001f25;
}
.loader{
    position: relative;
    width: 300px;
    height: 300px;
}
.loader span{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform:rotate(calc(var(--i) * 36deg));
}
.loader span::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: transparent;
    border: 4px solid #00efff;
    box-shadow: 0 0 20px #00efff,
    -30px -30px 0 #00efff,
    -30px -30px 20px #00efff,
    30px 30px 0 #00efff,
    30px 30px 20px #00efff,
    30px -30px 0 #00efff,
    30px -30px 20px #00efff,
    -30px 30px 0 #00efff,
    -30px 30px 20px #00efff;
    animation:animate 5s linear infinite;
    animation-delay:calc(-0.25s * var(--i));
    transform-origin: 20px;
    transition: 2s;
}
.loader:hover span::before{
    box-shadow: 0 0 20px #00efff,
    -200px -200px 0 #00efff,
    -200px -200px 20px #00efff,
    200px 200px 0 #00efff,
    200px 200px 20px #00efff,
    200px -200px 0 #00efff,
    200px -200px 20px #00efff,
    -200px 200px 0 #00efff,
    -200px 200px 20px #00efff;
    transform-origin: 250px;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
        filter: hue-rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
        filter: hue-rotate(360deg);
    }
}
.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #00efff;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    /* box-shadow: 0 0 20px #00efff; */
    z-index:2;
}
.text:hover {
    position: absolute;
    top: 50%; 
    text-decoration: none;
    left: 50%;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
    /* font-family: verdana; */
    font-size: 4em;
    font-weight: 700;
    color: #00efff;
    text-shadow: 1px 1px 1px #919191,
    1px 2px 1px #919191,
    1px 3px 1px #919191,
    1px 4px 1px #919191,
    1px 5px 1px #919191,
    1px 6px 1px #919191,
    1px 7px 1px #919191,
    1px 8px 1px #919191,
    1px 9px 1px #919191,
    1px 10px 1px #919191,
1px 1px 6px rgba(16,16,16,0.4),
1px 2px 10px rgba(16,16,16,0.2),
1px 2px 35px rgba(16,16,16,0.2),
1px 3px 60px rgba(16,16,16,0.4);
z-index:2;
}